/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hwb(210 95% 4%); /* Light blue background */
}

/* Login Container */
.login {
  background: #ffffff;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.603);
  text-align: center;
  width: 600px;
}

/* Heading */
h2 {
  font-size: 50px;
  color: rgb(65, 152, 187);
  font: bold;
  margin-bottom: 20px;
}

/* Form Group */
.formGroup {
  margin-bottom: 50px;
  text-align: left;
}

/* Label */
.label {
  display: block;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

/* Input Fields */
.loginInput {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Button */
.loginButton {
  width: 100%;
  padding: 12px;
  background-color: hsl(201, 81%, 96%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: hwb(172 10% 17%);
}

/* Responsive Design */
@media (max-width: 480px) {
  .login {
    width: 90%;
    padding: 20px;
  }
}
